<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
</head>
<body>

<!--    Start header-->
<nav th:replace="header :: head"></nav>
<!--End header-->


<!--Start main-->
<div>
    <div class="container mt-4 ">
        <div class="row">
            <div class="col-lg-3 " style="border-right: 3px solid #ccc;">
                <div th:replace="left::left"></div>
            </div>

            <div class="col-lg-9">
                <!--                Start-->
                <h2 style="text-align: center;">Quản lý thẻ học sinh</h2>
                <div class="d-flex justify-content-between pb-1">

                    <form class="d-flex" action="#" th:action="@{/thehocsinh/search-in-form}" method="get">
                        <div class=" form-check">
                            <input autocomplete="off" th:value="${tenHocSinh}" name="keyword1" type="text"
                                   class="form-control"
                                   placeholder="Nhập tên học sinh" id="keyword1" aria-describedby="emailHelp">
                        </div>

                        <div class=" form-check">
                            <input autocomplete="off" th:value="${tenLop}" name="keyword2" type="text"
                                   class="form-control"
                                   placeholder="Nhập tên lớp" id="keyword2" aria-describedby="emailHelp">
                        </div>
                        <button type="submit" class="btn btn-primary">Tìm kiếm</button>
                    </form>
                </div>
                <div class="row">
                    <div th:each="thehocsinh : ${thehocsinhs}" class="card col-lg-6 col col-md-6 mb-4 ">
                        <div class="bg-info" style="text-align: center;margin-bottom: 20px;">
                            <!--                            <img src="@{'/img/logo.png'}" alt="Logo trường" class="">-->
                            <img style="width: 80px; object-fit: cover;" class=" " th:src="@{/img/logo.png}" alt="">
                            <h3>PHÒNG GIÁO DỤC VÀ ĐÀO TẠO</h3>
                            <h3>TRƯỜNG THPT LÝ THÁI TỔ</h3>
                            <h4>Thẻ Học Sinh</h4>
                        </div>
                        <div class="d-flex">
                            <img style="width: 160px;object-fit: cover;" class=""
                                 th:src="@{'/img/' + ${thehocsinh.anhDaiDien}}" alt="">
                            <div class="card-body">
                                <div class="d-flex">
                                    <h5>Họ và tên: </h5>
                                    <h5 style="margin-left: 4px;" th:text="${thehocsinh.hocSinh.tenHocSinh}" class="card-title"></h5>
                                </div>
                                <div class="d-flex">
                                    <h5>Lớp: </h5>
                                    <h5 style="margin-left: 4px;" th:text="${thehocsinh.hocSinh.lop.tenLop}"></h5>
                                </div>

                                <div class="d-flex">
                                    <h5>Ngày sinh: </h5>
                                    <h5 style="margin-left: 4px;" th:text="${#dates.format(thehocsinh.hocSinh.ngaySinh, 'dd-MM-yyyy')}"></h5>
                                </div>

                                <div class="d-flex">
                                    <h5>Giới tính: </h5>
                                    <h5 style="margin-left: 4px;" th:text="${thehocsinh.hocSinh.gioiTinh}"></h5>
                                </div>

                                <div class="d-flex">
                                    <h5>Niên khóa: </h5>
                                    <h5 style="margin-left: 4px;" th:text="${thehocsinh.hocSinh.nienKhoa}"></h5>
                                </div>

                                <div class="d-flex">
                                    <h5>Mã học sinh: </h5>
                                    <h5 style="margin-left: 4px;" th:text="${thehocsinh.hocSinh.id}"></h5>
                                </div>

                                <!--                            <h5>Trường THPT Lý Thái Tổ</h5>-->
                            </div>
                        </div>
                        <div class="row mt-4">
                            <div class="col-lg-6">
                                <a th:href="@{/thehocsinh/update(id=${thehocsinh.id})}">
                                    <button type="button" class="btn btn-warning  ">Chỉnh sửa</button>
                                </a>

                            </div>


                        </div>


                    </div>
                </div>

            </div>

            <!-- End Products -->
        </div>
    </div>

</div>

</div>
<!--End main-->

<!-- Footer -->
<footer th:replace="footer::foot"></footer>
<!-- End footer -->


<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>
<!--<script>-->
<!--    function showForm() {-->
<!--    document.getElementById("editForm").style.display = "block";-->
<!--    document.getElementById("idSuccess").style.display = "none";-->
<!--  }-->
<!--</script>-->
</body>
</html>