<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
</head>
<body>

<!--    Start header-->
<nav th:replace="header :: head"></nav>
<!--End header-->


<!--Start main-->
<div style="">
    <div class="container mt-4 ">
        <div class="row">
            <div class="col-lg-3 " style="border-right: 3px solid #ccc;">
                <div th:replace="left::left"></div>
            </div>

            <div class="col-lg-9">
                <div class="d-flex justify-content-between">
                    <a th:href="@{/sodaubai/back}" type="button" class="btn btn-info" >Trở lại</a>
                    <form class="d-flex" action="#" th:action="@{/sodaubai/search-sdb}" method="get">
<!--                        <input autocomplete="off"  th:value="${idLop}" name="idlop" type="date" class="form-control"  id="tenLop" aria-describedby="emailHelp" style="display : none;">-->
                        <div class=" form-check">
                            <input autocomplete="off"  th:value="${ngayGiangDay}" name="keyword" type="date" class="form-control" placeholder="Nhập ngày cần tìm" id="exampleInputEmail1" aria-describedby="emailHelp" required>

                        </div>
                        <input type="hidden"  name="idLop" th:value="${idLop}" />
                        <button type="submit" class="btn btn-primary">Tìm kiếm</button>
                    </form>

                    <a th:href="@{/sodaubai/save(id=${idLop})}" type="button" class="btn btn-success" >Thêm</a>
                </div>
                <table class="table table-bordered table-striped">
                    <thead class="table-danger">
                    <tr>

                        <th scope="col">STT</th>
                        <th scope="col">Tên lớp</th>

                        <th scope="col">Giáo viên giảng dạy</th>
                        <th scope="col">Môn học giảng dạy</th>
                        <th scope="col">Nội dung giảng dạy</th>
                        <th scope="col">Ngày giảng dạy</th>
                        <!--                        <th scope="col">Giáo viên phụ trách</th>-->
                        <th scope="col">Xử lí</th>
                    </tr>
                    </thead>
                    <tbody>


                    <tr th:each="sodaubai, index: ${sodaubais}">

                        <td th:text="${index.count}" />
                        <td th:text="${sodaubai.lop.tenLop}" />

                        <td >
                            <span th:text="${sodaubai.giaoVien.tenGiaoVien != null ? sodaubai.giaoVien.tenGiaoVien : ''} "></span>
                            <span style="color: red;" th:if="${sodaubai.giaoVien.id eq sodaubai.lop.giaoVien.id}">(GVCN)</span>
                        </td>
                        <td th:text="${sodaubai.giaoVien.monHoc.tenMonHoc}" />

                        <td th:text="${sodaubai.noiDungGiangDay}" />
                        <td th:text="${#dates.format(sodaubai.ngayGiangDay, 'dd-MM-yyyy')}" />
                        <td>
                            <a th:href="@{/sodaubai/update(id=${sodaubai.id})}" type="button" class="btn btn-warning" >Chỉnh sửa</a>
                            <a th:href="@{/sodaubai/delete(id=${sodaubai.id})}" type="button" onclick="return confirm('Bạn chắc chắn muốn xóa ?');" class="btn btn-danger" >Xóa </a>
                        </td>

                    </tr>

                    </tbody>
                </table>

                <!-- End Products -->
            </div>
        </div>

    </div>

</div>
<!--End main-->

<!-- Footer -->
<footer th:replace="footer::foot"></footer>
<!-- End footer -->


<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>
<!--<script>-->
<!--    function showForm() {-->
<!--    document.getElementById("editForm").style.display = "block";-->
<!--    document.getElementById("idSuccess").style.display = "none";-->
<!--  }-->
<!--</script>-->
</body>
</html>