<div th:fragment="left" class="list-group ">
    <a th:href="@{/monhoc/list}" class="list-group-item list-group-item-action" >Quản lý môn học</a>
    <a th:href="@{/giaovien/list}" class="list-group-item list-group-item-action" >Quản lý giáo viên </a>
    <a th:href="@{/lophoc/list}" class="list-group-item list-group-item-action" >Quản lý lớp học </a>
    <a th:href="@{/hocsinh/list}" class="list-group-item list-group-item-action">Quản lý học sinh</a>
    <a th:href="@{/sohocba/list}" class="list-group-item list-group-item-action">Quản lý sổ học bạ</a>
    <a th:href="@{/phieudiem/list-by-monhoc}" class="list-group-item list-group-item-action">Quản lý phiếu điểm</a>
    <a th:href="@{/sodaubai/list}" class="list-group-item list-group-item-action">Quản lý sổ đầu bài</a>
    <a href="#" class="list-group-item list-group-item-action">Quản lý thẻ học sinh</a>
    <a href="#" class="list-group-item list-group-item-action">Quản lý phụ huynh</a>
    <a href="#" class="list-group-item list-group-item-action">Quản lý người dùng</a>

</div>
